dhcp-relay: Filtering existing option 82

When adding an option 82 to the relayed DHCP packets, we should filter any
existing options as well.

As clients are untrusted by definition, client originated DHCP packets containing Option 82 should be discarded - from [RFC3046 section 2](https://datatracker.ietf.org/doc/html/rfc3046#section-2.1):

>  Relay agents receiving a DHCP packet from an untrusted circuit with giaddr set to zero (indicating that they are the first-hop router) but with a Relay Agent Information option already present in the packet SHALL discard the packet and increment an error count.

@tohojo @yoelcaspersen is there any task that i can pick it up?