dhcp-relay: Tail extending not possible in SKB mode

As per [RFC3046 section 2.1](https://datatracker.ietf.org/doc/html/rfc3046#section-2.1), DHCP option 82 must be injected as the last DHCP option, right before option 255 (end option).

Therefore it makes most sense to tail extend the packet by the number of bytes needed for DHCP option 82, overwrite option 255 with option 82 and add a fresh option 255 at the end.

In SKB mode, the following code fails with error code -22 (EINVAL):

```
/* Tail extend packet */
int res = bpf_xdp_adjust_tail(ctx, delta);
if (res != 0) {
	bpf_printk("Cannot tail extend packet, delta %i - error code %i\n", delta, res);
	return XDP_ABORTED;
}
```
Resulting output from :
```
~$ sudo cat /sys/kernel/debug/tracing/trace_pipe
dhclient-9937  [000] ..s1 19525.696161: 0: Cannot tail extend packet, delta 10 - error code -22
```
The same code works flawlessly when run with a physical Mellanox NIC.

I will continue the development with a physical Mellanox NIC for now, but it would be nice to get support for tail extending in SKB mode as it will make development and testing much easier.

@tohojo and @netoptimizer, any ideas on this?

`xdp_adjust_tail()` only works if there's actually some empty room in the chunk of memory after the data. Which is not always the case, especially for SKBs (and in particular may depend on packet size). So not really much to be done about this; staying with `adjust_head()` and moving the data up may be more reliable (there's usually a bit of headroom in skbs).

> We tried [this](https://git.kernel.org/pub/scm/linux/kernel/git/ast/bpf.git/commit/?h=xdp&id=0afee87cfc800bf3317f4dc8847e6f36539b820c) patch (rebased it on kernel version 5.12.14)

@bhaskar792, if my memory serves me right, bpf_adjust_tail was added fairly recently. The patch you mention is from 2016, so perhaps it is (too) outdated?

Looks like it's not so much outdated as incomplete. Or maybe it's incomplete because it's outdated? In any case, lack of adjust_tail support is one symptom of this, but I wouldn't be surprised if there were other things that didn't work right...

Indeed this discussion indicates that the e1000 patch is broken: https://lore.kernel.org/all/20160912220312.5610.77528.stgit@john-Precision-Tower-5810/t/

The e1000 driver patch was abandoned.
Instead the virtio_net driver was choosen for XDP support.

What NIC drivers does VMware guests support?
@bhaskar792 ?

> What NIC drivers does VMware guests support?

- https://kb.vmware.com/s/article/1001805
- https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vm_admin.doc/GUID-AF9E24A8-2CFA-447B-AC83-35D563119667.html

@netoptimizer Are you look for the above list?

> Indeed this discussion indicates that the e1000 patch is broken: https://lore.kernel.org/all/20160912220312.5610.77528.stgit@john-Precision-Tower-5810/t/

Thanks for the update @yoelcaspersen @tohojo . For now, we'll keep using the adjust_head way, until there is a patch for adjust tail in SKB mode. Thanks, @netoptimizer for taking it up, hope to see it soon :)

> What NIC drivers does VMware guests support? @bhaskar792 ?

Thanks, @netravnen for providing the list. I don't think virtio_net is among them. 

> For now, we'll keep using the adjust_head way

Just bear in mind that option 82 must be placed just before option 255 if you want to be RFC compliant. Doing it with head adjustment means that you will need to move a large, variable number of bytes to make room for option 82.

> The e1000 driver patch was abandoned. Instead the virtio_net driver was choosen for XDP support.

@netoptimizer  We used virtio_net driver available with oracle virtual box with kernel version 5.14.14 but we get the error 
`
libbpf: Kernel error message: virtio_net: Can't set XDP while host is implementing GRO_HW/CSUM, disable GRO_HW/CSUM first.
`
But we cant disable rx-gro-hw with ethtool. Any suggestions?

@yoelcaspersen @tohojo @netoptimizer We used QEMU/KVM virtual machine with virt-manager which has virtio_net driver and tail extension works, we can keep on working with the latest code without any changes. Thanks!

@bhaskar792 That is indeed good news, thanks for the update :)